<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Application Framework - <span style="color:#3388cc;">{{ title }}</span></h1>
<div style="padding:10px 10px 10px 10px; background-color:#DDD">
1.기준정보 > 2.업무관리 > 3. 데이터통합 > 4. 외부데이터 > 5.분석 > 6.코드관리
</div>
<div style="height:20px"></div>
<div style="padding: 10px;">
    <table width="100%">
        <tr>
            <td width="10%">1.기준정보</td>
             <td width="10%"><a href="#"><button>거래처관리</button></a><a href="#">영상</a>
             </td>
             <td width="10%"><a href="#"><button>제품관리</button></a><a href="#">영상</a>
             </td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>

        </tr>
    </table>



</div>
<div style="padding: 10px;">
    <table width="100%">
        <tr>
            <td width="10%">2.업무관리</td>
             <td width="10%"><a href="#"><button>판매관리</button></a><a href="#">영상</a>
             </td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="10%"></td>

        </tr>
    </table>



</div>
</body>
</html>